* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

li {
  list-style: none;
}

html,
body {
  height: 100%;
  background-color: #121212;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

#app {
  height: 100%;
}

.header {
  display: flex;
  gap: 2rem;
  height: 5vh;
  width: 100vw;
  justify-content: center;
  align-items: stretch;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
}

.current-location {
  position: absolute;
  left: 1rem;
  line-height: 5vh;
}

.currency {
  color: gold;
  position: absolute;
  right: 1rem;
  line-height: 5vh;
}

.tab {
  text-align: center;
  width: 10vw;
  line-height: 5vh;
  transition: 100ms;
}

.tab:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.05);
  transition: 100ms;
}

.home {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: 100%;
}

.enemy {
  text-align: center;
  background-color: rgb(26, 26, 26);
  padding: 1.5rem;
  width: 30vw;
  border-radius: 5px;
  transition: 100ms;
}

.location {
  text-align: center;
  background-color: rgb(26, 26, 26);
  padding: 1.5rem;
  width: 30vw;
  border-radius: 5px;
  transition: 100ms;
}

.selected {
  border: 2px solid gold;
}

.enemy:hover {
  transform: scale(1.05);
  transition: 200ms;
}

.location:hover {
  transform: scale(1.05);
  transition: 200ms;
}

.selected:hover {
  transform: none;
}

.menu {
  display: flex;
  font-size: 3rem;
  flex-direction: column;
  gap: 2rem;
  flex-grow: 4;
  justify-content: stretch;
}

.menu-choice {
  height: 10vh;
  width: 60vw;
  border-radius: 5px;
  background-color: rgb(26, 26, 26);
  text-align: center;
  line-height: 10vh;
  transition: 100ms;
}

.menu-choice:hover {
  transform: scale(1.05);
  transition: 200ms;
}

.char-select {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.characters {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.character {
  text-align: center;
  height: 40vh;
  width: 30vh;
  background-color: #080808;
  border-radius: 10px;
  transition: 100ms;
}

.character:hover {
  transform: scale(1.05);
  transition: 200ms;
}
